
main {
    background-color: rgb(255, 255, 255);
}


.page {
    width: 100%;
    display: flex;
    align-content: flex-start;
    overflow-x:hidden;
}

.Navigation {
    top: 0;

    width: min(100% - 5rem, var(--container-max, 15rem));

}

.MainText {
    height: fit-content;
}

.Nav {
    background-color: rgb(85, 85, 85);
    width: min(35% - 3rem, var(--container-max, 20ch));

    position: fixed;
    top: 0;
    
    
    height: 100%;
    overflow: auto;
}
.Logo {
    width: 60%;
}
.logobox {
    width: 100%;
    display: grid;
    place-items: center;
}


.NavList {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    justify-content: flex-start;

    height: 12rem;
    
   

}

.Element  {
    width: 100%;
    height: 3rem;
    background-color: rgb(179, 57, 161);
    flex-grow: 0.5;
    display: grid;
}
.Element button {
    border: none;
    font-family: sans-serif;
    background-color: rgb(47, 47, 47);
    cursor: pointer;
    color: rgb(48, 154, 67);
    font-size: 1rem;

    width: 100%;
    height: 100%;


    
}





.Cv {
    height: 100%;
    background-color: rgb(255, 255, 255);
    width: min(100% - 3rem, var(--container-max, 80ch));
    margin: auto;
    padding: 2rem;
    padding-top: 3rem;

    display: grid;
    place-items: center;
}
.WorkHead {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

.WorkInfo {
    background-color: rgb(164, 218, 164);
    color: rgb(38, 86, 39);
    padding: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: rgb(134, 182, 134);
    font-size: 1rem;
    margin-top: 3rem;
}

.Work {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(225, 225, 225);
    padding: 2rem;
    width: 75%;
    border-radius: 0.5rem;
    list-style: circle;
}

.Profile {
    width: min(30% - 3rem, var(--container-max, 80ch));
    background-color: rgb(192, 192, 192);
    border-style: solid;
    border-color: grey;
    top: 0;

    display: flex;
}
.Profile .NoLink {
    margin: 10%;
}

.Profile .NoLink .pfp{
    width: 60%;
}
.Profile .NoLink .pfp img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 10rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.Profile .NoLink h1 {
    text-decoration: underline;
}


.Profile .pfpButton {
    display: none;
}

@media screen and (max-width: 900px) {

    .Profile .NoLink {
        display: none;
    }

    .Profile {
        width: 0;
        border-style: none;
    }

    

    .Profile .pfpButton {
      right: 0;
      display: grid;
      position: fixed;
      max-height: 4rem;
      max-width: 4rem;
      margin-top: 1rem;
      margin-right: 0.5rem;
    }

    .Profile .pfpButton img {
        height: 100%;
        width: 100%;

        border-radius: 100%;
        border-style: solid;
        border-color: grey;
    }

    
  }




  @media screen and (max-width: 900px) {

    .Profile.responsive {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;

        overflow-y:scroll;
        overflow-x:hidden;

        border-style: solid;

        width: min(60% - 3rem, var(--container-max, 45ch));
        height: 100%;
        display: flex;
      }
      .Profile.responsive .NoLink {
        display: block;
      }
  }

